<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Jobs</title>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<style>
			body{
				background-color: grey;
				color: white;
			}
			body h1{
				text-align: center;
			}
			.jumbotron{
				background-color: black;
				color: white;
				padding: 10px;
			}
			a{
				color: white;
			}
			#colContent{
				color:grey;
				transition: color 0.25s;
			}
			#colContent:hover{
				color:white;
				transition: color 0.25s;
			}
			input{
				color: black;
			}
			button{
				color: black;
			}
			.tab-content{
				border-left: 1px solid #ddd;
				border-right: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				padding: 10px;
			}
			.nav-tabs{
				margin-bottom: 0;
			}
		</style>
	</head>
	<body>