<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Jobs</title>
		<!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			body{
				/*#667896*/
				/*darkslategrey*/
				background-color: white;
				color: white;
			}
			body h1{
				text-align: center;
			}
			.page-header{
				color: black;
			}
			.jumbotron{
				/*#525f77*/
				/*black*/
				background-color: black;
				color: white;
				padding: 10px;
			}
			.job_title{
				cursor:pointer;
			}
			.con_info{
				cursor:pointer;
			}
			a{
				color: white;
			}
			.colContent{
				color:darkslategrey;
				text-shadow: 0 0 1px gray, 0 0 1px gray;
				transition: color 0.25s;
			}
			.colContent:hover{
				color:white;
				text-shadow: 0 0 0px white, 0 0 0px white;
				transition: color 0.25s;
			}
			input{
				color: black;
			}
			button{
				color: black;
			}
			#home_icon{
				color: black;
				font-size: 20px;
				cursor: pointer;
			}
			.tab-content{
				border-left: 1px solid #ddd;
				border-right: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				padding: 10px;
			}
			.nav-tabs{
				margin-bottom: 0;
			}
			ul{
				list-style: none;
				display: inline;
			}
			li{
				display: inline;
			}
			.label-info{
				color:black;
			}
			.footer {
				color:black;
				padding:20px;
			}
			.footer a{
				color: black;
			}
		</style>
	</head>
	<body>